<template>
  <transition appear name="slide-fade">
    <div v-if="showDialog" class="cookie-consent-wrapper">
      <div class="cookie-consent">
        <div class="cookie-text">
          <div class="cookie-header">
            Cookie Consent! <span class="cookie-mod-date">(from {{version}})</span>
          </div>
          <div class="cookie-message">
            <slot name="message"></slot>
          </div>
        </div>
        <div class="cookie-buttons">
          <button @click="acceptCookies" class="cookie-button">Accept cookies</button>
          <slot name="extra-button">
          </slot>
        </div>
      </div>
    </div>
  </transition>
</template>
<script>
export default {
  // The date of the last modification of the text
  props: ["version"],
  data() {
    return {
      acceptedVersion: null,
      initialized: false
    };
  },
  mounted() {
    this.acceptedVersion =
      window.localStorage["cookie-consent-accepted-version"] || "0000-00-00";
    this.initialized = true;
  },
  computed: {
    showDialog() {
      if (!this.initialized) {
        return false;
      }
      // There are no cookies on gachou.gitlab.io
      if (window.location.host === "gachou.gitlab.io") {
        return false;
      }
      // text changed since it was accepted?
      return this.acceptedVersion < this.version;
    }
  },
  methods: {
    acceptCookies() {
      window.localStorage["cookie-consent-accepted-version"] = this.version;
      this.acceptedVersion = this.version
    }
  }
};
</script>
<style lang="css">
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all 1s ease;
}
.slide-fade-leave-active {
  transition: all 1s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(200px);
  opacity: 0;
}
</style>