$accentColor = #c77829;
$textColor = #000;
$borderColor = #c77829;
$codeBgColor = #000

$secondaryBgColor = #fff6d5


input[type='submit']
  border: none;
  background-color: $accentColor;
  border-radius: 0.25em;
  padding: 0.5em;
  color: white;

.navbar
  background-color: $secondaryBgColor

  .links
    background-color: $secondaryBgColor

@media (min-width: 719px)
  .nav-item > a:not(.external):hover, .nav-item > a:not(.external).router-link-active
    border-bottom: 2px solid $borderColor;


  .image-box-right, .image-box-left
    position: relative;
    & > .theme-image
      width: 6rem;
      position: absolute;
      top: 20%;

  .image-box-left
    padding-right: 10rem;
    & > .theme-image
      right: 1rem;

  .image-box-right
    padding-left: 10rem;
    & > .theme-image
      left: 1 rem;
   

@media (max-width: 718px)
  .image-box-left, .image-box-right
    & > img 
      float: right;
      height: 4rem;
      margin: 0.25em;


.cookie-consent-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 50px;
  left: 20px;
  right: 20px;
  
}

.cookie-consent {
  max-width: 1024px;;
  z-index: 10000;
  background-color: #000;
  border: 1px solid $borderColor;
  color: #fff;
  box-shadow: 5px 5px 10px 2px #333;
  display: flex;
  align-items: center;

  & > * {
    margin: 1em;
  }

  .cookie-text {
    .cookie-header {
      font-weight: bold;
      margin-bottom: 0.5em;
    }

    .cookie-mod-date {
      font-weight: normal;
    }
  }

  .cookie-buttons {
    display: flex;
    flex-direction: column;

    .cookie-button {
      background-color: $accentColor;
      border-radius: 4px;
      border: none
      color: white;
      white-space: nowrap;
      padding: 0.2em 1em;
      margin: 0.25em;
      font-size: 14px;
    }
  }
}
